<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание категории</title>
    <link rel="stylesheet" href="bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="body-color">
    <header class="bg-dark mb-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="my-2" style="color: #FFF;">
                    <h3 class="m-0">Админ панель</h3>
                </div>
                <div class="d-flex flex-column align-items-end">
                    <ul class="d-flex my-2">
                        <li class="m-2 header-punkt"><a class="btn btn-light">Посты</a></li>
                        <li class="m-2 header-punkt"><a class="btn btn-light">Категории</a></li>
                        <li class="my-2 ml-2 mr-1 header-punkt"><a class="btn btn-light">Теги</a></li>
                        <li class="my-2 ml-2 mr-1 header-punkt"><a class="btn btn-primary">Выход</a></li>
                    </ul>
                    <ul class="d-flex mb-2">
                        <li class="mx-1 header-punkt"><a class="btn btn-sm btn-outline-info">Создать пост</a></li>
                        <li class="mx-1 header-punkt"><a class="btn btn-sm btn-outline-info">Создать категорию</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="mb-4 section-custom">
        <div class="container">
            <div class="py-3">
                <div class="d-flex justify-content-between">
                    <div class="p-3 w-35 mr-2 bg-white rounded">
                        <div class="w-100 border-bottom mb-3">
                            <div class="w-100 d-flex justify-content-between mb-1">
                                <h5>Создание категории</h5>
                                <button class="btn btn-sm btn-success">Сохранить</button>
                            </div>
                        </div>
                        <div class="w-100 d-flex flex-column">
                            <div class="d-flex flex-column mb-2">
                                <label class="mb-1"><strong>Заголовок:</strong></label>
                                <input class="form-control form-control-sm" type="text" placeholder="Введите заголовок" />
                            </div>
                            <div class="d-flex flex-column mb-2">
                                <label class="mb-1"><strong>Описание:</strong></label>
                                <textarea class="form-control description-cp"></textarea>
                            </div>
                            <div class="d-flex flex-column mb-2">
                                <label class="mb-1"><strong>Состояние публикации:</strong></label>
                                <select class="form-control">
                                    <option value="true">Опубликовано</option>
                                    <option value="false">Не опубликовано</option>
                                </select>
                            </div>
                            <div class="d-flex flex-column mb-2">
                                <label class="mb-1"><strong>Дата публикации:</strong></label>
                                <input class="form-control" type="date" />
                            </div>
                        </div>
                    </div>
                    <div class="p-3 w-65 bg-white rounded">
                        <div class="w-100 border-bottom mb-2 d-flex justify-content-between">
                            <div class="w-100 d-flex justify-content-between mb-1">
                                <h5>Созданиие тегов</h5>
                                <button class="btn btn-sm btn-success">Сохранить</button>
                            </div>
                        </div>
                        <div class="w-100 d-flex flex-column">
                            <div class="w-100 mb-2">
                                <button class="btn btn-sm btn-success">Создать тег</button>
                            </div>
                            <div class="tag-table-cp">
                                <table class="table table-striped">
                                    <thead>
                                      <tr class="text-center">
                                        <th scope="col">Действия</th>
                                        <th class="w-33" scope="col">Заголовок</th>
                                        <th scope="col">Описание</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-expanded="false">
                                                        <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Редактировать</a></li>
                                                        <li><a class="dropdown-item" href="#">В корзину</a></li>
                                                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                Заголовок тега 1
                                            </td>
                                            <td class="text-center">
                                                Описание для тега номер 1, оно обычно длинее и выводиться в tooltip
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-expanded="false">
                                                        <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Редактировать</a></li>
                                                        <li><a class="dropdown-item" href="#">В корзину</a></li>
                                                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                Заголовок тега 1
                                            </td>
                                            <td class="text-center">
                                                Описание для тега номер 1, оно обычно длинее и выводиться в tooltip
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-expanded="false">
                                                        <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Редактировать</a></li>
                                                        <li><a class="dropdown-item" href="#">В корзину</a></li>
                                                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                Заголовок тега 1
                                            </td>
                                            <td class="text-center">
                                                Описание для тега номер 1, оно обычно длинее и выводиться в tooltip
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-expanded="false">
                                                        <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Редактировать</a></li>
                                                        <li><a class="dropdown-item" href="#">В корзину</a></li>
                                                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                Заголовок тега 1
                                            </td>
                                            <td class="text-center">
                                                Описание для тега номер 1, оно обычно длинее и выводиться в tooltip
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-expanded="false">
                                                        <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Редактировать</a></li>
                                                        <li><a class="dropdown-item" href="#">В корзину</a></li>
                                                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                Заголовок тега 1
                                            </td>
                                            <td class="text-center">
                                                Описание для тега номер 1, оно обычно длинее и выводиться в tooltip
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="jQuery/jquery-3.7.1.min.js"></script>
    <script src="bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
</body>

</html>