<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="body-color">
    <header class="bg-dark mb-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="my-2" style="color: #FFF;">
                    <h3 class="m-0">News</h3>
                </div>
            </div>
        </div>
    </header>
    <section class="mb-4  mt-5">
        <div class="container">
            <div class="row justify-content-center py-3 ">
                <div class="col-12 col-sm-6 col-md-5 section-custom border rounded p-3">
                    <h3 class="pt-1 pb-4">Регистрация</h3>
                    <form class="" action="">
                        <div class="form-group">
                            <label for="login">Логин: </label>
                            <input class="form-control" type="text" id="login" name="login">
                        </div>
                        <div class="form-group">
                            <label for="login">Почта: </label>
                            <input class="form-control" type="text" id="login" name="login">
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль: </label>
                            <input class="form-control" type="password" id="password" name="password">
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
                    </form>
                    </div>
            </div>
        </div>
    </section>
    <script src="jQuery/jquery-3.7.1.min.js"></script>
    <script src="bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
</body>

</html>